<% if (!videoData) return; %>
<% if (videoData.type === "Video") { %>
  <div class="rVideo">
    <a href="/w/<% if (!videoData || !videoData.videoId) return; %>" target="_top">
      <img loading="lazy" src="https://img.youtube.com/vi/<% if (!videoData || !videoData.videoId) return; %>/mqdefault.jpg" />
    </a>
    <div class="rVideoInfo">
      <h4><a href="/w/<% if (!videoData || !videoData.videoId) return; %>" target="_top"><%= videoData.title %></a></h4>
      <% if (videoData.channelName) { %>
        <span class="rVideoAuthor">
          <a href="/c/<% if (!videoData || !videoData.videoId) return; %>" target="_top"><%= videoData.channelName %></a>
        </span>
      <% } %>
      <br>
      <small><%= videoData.publishedText || '投稿日情報なし' %> • Duration: <b><%= videoData.duration || '情報なし' %></b></small><br>
      <% videoData.badges?.forEach(badge => { %>
        <small class="border"><%= badge.label %></small>
      <% }); %>
      <small><%= videoData.viewCountText || videoData.shortViewCountText %></small>
    </div>
  </div>
<% } else if (videoData.type === "Playlist") { %>
  <div class="rVideo">
    <a href="/p/<%= videoData.videoId %>"><img loading="lazy" src="https://img.youtube.com/vi/<%= videoData?.recommendedVideos[0]?.videoId || videoData.first_videos[0]?.videoId %>/mqdefault.jpg"/></a>
    <div class="rVideoInfo">
      <h4><a href="/w/<%= videoData.videoId %>" target="_top"><%= videoData.title %></a></h4>
      <% if (videoData.channelName) { %>
        <span class="rVideoAuthor">
          <a href="/c/<% if (!videoData || !videoData.videoId) return; %>" target="_top"><%= videoData.channelName %> <%= videoData.channelVerified ? "<small class=\"border\">Verified</small>" : "" %></a>
        </span><br>
      <% } %>
      <small>Playlist: <b><%= videoData.videoCount || '不明' %></b></small><br>
      <% videoData.badges?.forEach(badge => { %>
        <small class="border"><%= badge.label %></small>
      <% }); %>
    </div>
  </div>
<% } else if (videoData.type === "Channel") { %>
  <div class="rVideo" style="margin-top: 2px;">
    <a href="/c/<% if (!videoData || !videoData.videoId) return; %>" target="_top"><img loading="lazy" src="<%= videoData.channelThumbnails %>" style="padding: 25px; width: 90px;"/></a>
    <div class="rVideoInfo">
      <h2><a href="/c/<% if (!videoData || !videoData.videoId) return; %>" target="_top"><%= videoData.channelName %></a></h2>
      <span><%= videoData.description || '説明なし' %></span><br>
      <small><b><%= videoData.subscriberCountText || '不明' %></b> • <%= videoData.videoCountText || videoData.videoCount || '不明' %></small>
    </div>
  </div>
<% } else if (videoData.type === "Shelf") { %>
  <details class="shelf border" style="margin-top: 8px;" open>
    <summary class="shelfTitle"><%= videoData.title %></summary>
    <% videoData.content?.items?.forEach(item => { %>
      <%- include("videolist.ejs", { video: item }); %>
    <% }); %>
  </details>
<% } %>
